/*---------Enhancement For start loading----------*/
.result-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-top: 52vh;
  background-color: rgba(0, 0, 0, 0);
}

.loading-image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 60px !important;
  height: 60px !important;
  border-radius: 50% !important;
  border: 5px solid black !important;
  border-top-color: red !important;
  border-bottom-color: blue !important;
  border-left-color: yellow !important;
  animation: spin 1s linear infinite !important;
}



@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*-------------------*/

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  caret-color: transparent; /* Add this line to stop blinking cursor */
}
* {
    box-sizing: border-box;
  } 
  input[type=text],input[type=password], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    caret-color:auto; 
    
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  
  button[type="submit"] {
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin: auto;
    
    animation: pulse 2s infinite;
    
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  } 
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2e3;
    padding: 20px;
    max-width: 600px; /* maximum width to prevent the container from getting too wide */
    width: 100%; 
    text-align: center;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.107);
    
  }
  
  
  .col-25 {
    float: left;
    width: 33%;
    margin-top: 6px;
  }
  
  .col-50 {
    float: left;
    width: 67%;
    margin-top: 6px;
   
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;

  }
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
      
    }
  }

  .moving-text {
    position: relative;
    animation-name: move-left-to-right;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    color: red;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    margin-top: 20px;
  }
  
  @keyframes move-left-to-right {
    0% {
      left: -20%;
    }
    100% {
      left: 20%;
    }
  }
  